* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.85;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
}
